append styles
  link(rel='stylesheet', href='../../components/header/header.scss')

append mixins
  mixin header(options = {})
    -
      options.class = options.class ? `header ${options.class}` : `header `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` header-${mod.join(` header-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `header`;
      delete options.block_class;

      function blockLength(input){
        const open = '\\u003C'
        const close = '\\u003C'+'\\u002F'
        let begins = []
        let ends = []
        let count = 0
        for(let i = input.indexOf(open,0); i>=0; i = input.indexOf(open,i+1)){
          if (input.indexOf(close,i) != i)
            begins.push(i)
          else
            begins.pop();
          if (begins.length <= 0)
            count++;
        }
        if (count <= 0)
          count = input.split(');').length - 1;
        return count;
      }

    div()&attributes(options)&attributes(attributes)
      .header__geo_title
        //- span.header__geo_ico(class='material-icons-round')='place'
        img(src='../../components/header/place.svg', alt='place icon')
        span.header__geo_name='Волгоградская область'
      nav.header__menu
        .header__linck='Тендеры'
        .header__linck='База подрядчиков'
        .header__linck.header__linck-dropable='Другие сервисы'
          //- span=
          //- img.header__dropable_icon(src='../../components/header/chevron.svg', alt='chevron icon')

    hr.header__stroke